# Speed up builds by reducing context
.git
.github
node_modules
vendor
build
.run
docker/mysql
docker/openldap
docker/baikal
docker/phpmyadmin
docker/swagger-ui
storage/backups
storage/cache
storage/logs
storage/sessions
storage/uploads
*.log
*.tmp
*.swp
*.DS_Store
